<div class="contener">
  <app-header></app-header>
  <h1>
    <strong
      >Currency converter <br />
      by rate NBU</strong
    >
  </h1>
  <div class="contener_for_select_currency">
    <app-input
      (outInputSumma)="addUserSummaFirst($event)"
      [userSumma]="resultFirst"
      [isResetInput]="isReset"
    ></app-input>
    <app-select (outSelectCurrency)="addUserSelectFirst($event)"></app-select>
    <app-input
      (outInputSumma)="addUserSummaSecond($event)"
      [userSumma]="resultSecond"
      [isResetInput]="isReset"
    ></app-input>
    <app-select (outSelectCurrency)="addUserSelectSecond($event)"></app-select>
  </div>
  <app-input-date (outInputDate)="addDate($event)"></app-input-date>
  <app-li-currency [inDate]="date"></app-li-currency>
</div>
