input {
  display: block;
  width: 50%;
  line-height: 30px;
  background: #faab1b;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  font-size: 35px;
  margin-left: 25%;
  text-align: center;
}
